div.repo
{
	width: 100%;
}

div.repo-head
{
	flex-direction: row;
	display: flex;
}

div.url
{
	background: #b2dfdb;
	margin: 10px 0 10px 10px;
	padding-left: 10px;
	min-width: 500px;
	height: 30px;
	line-height: 30px;
}

a.copy-button
{
	background: #00bcd4;
	color: #fff;
	margin-top: 10px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

div.files
{
	margin-bottom: 40px;
	padding: 10px 10px 0 10px;
	padding-right: 10px;
	width: 100%;
	flex-direction: column;
	display: flex;
}

a.file
{
	color: #212121;
	border-bottom: 1px solid #212121;
	padding: 20px;
	text-decoration: none;
}

section.file
{
	display: none;
}

div.file-content
{
	border: 1px solid #212121;
	border-top: none;
	padding: 10px;
}
